.videoCreatorImage
{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.searchBar{
    width: 50%;
}
.searchSpan{
    height: 35.28px;
}
.content{
    min-height: 87vh;
    height: 100%;
}
